---
import Layout from "../../layouts/Layout.astro";
import type {
  filmsResponse,
  personnesResponse,
  rolesResponse,
} from "../../pocketbase-typegen";

export const prerender = false;

type Response = filmsResponse & {
  expand?: {
    producteur?: personnesResponse;
    scenaristes?: personnesResponse[];
    roles?: (rolesResponse & { expand?: { acteur?: personnesResponse } })[];
  };
};

const films = await Astro.locals.pb
  .collection("films")
  .getFullList<Response>({ expand: "producteur,scenaristes,roles.acteur" });
---

<Layout>
  {films.map((film) => (
    <div>
      <h2>Film : {film.titre}</h2>
      <p>Année de sortie : {film.date_sortie}</p>

      <p>Producteur : {film.expand?.producteur?.nom || "Non renseigné"}</p>

      <p>
        Scénaristes :
        {film.expand?.scenaristes?.length
          ? film.expand.scenaristes.map((s) => s.nom).join(", ")
          : "Non renseigné"}
      </p>

      <p>Rôles :</p>
      <ul>
        {film.expand?.roles?.map((r) => (
          <li>
            <strong>{r.nom_role}</strong> joué par{" "}
            {r.expand?.acteur?.nom || "Non renseigné"}
          </li>
        ))}
      </ul>
    </div>
  ))}
</Layout>
